<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css">
    <style>
      .box {
        backround-color: tomato;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
      }
      #lop{
        backround-color: yellow;
          Color: red;
          font-size: 21px;
        text-align:center;
      }
      p.center {
  text-align: center;
  color: red;
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <title>Ralph!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <!-- this is the start of content -->
    <h1>
      Ralph Romero
    </h1>
  
    <p style = "color:blue;font-size:30px;">
      Hello!  My name is <span style="color:red;font-weight:bold">Ralph Romero</span> and I am 17 years old.  Today, I want to show you my brand new bible!
      <img src="https://cdn.glitch.global/31c9497c-99bd-42a0-bebd-78511a3bc7ea/BIble.jpg?v=1649781815184" alt="My Bible">
      <p>Heres a link to a digital copy of the bible:<a href="https://www.biblegateway.com/">Bible</a></p>
      <p>Love Jesus!!<p>
  
    <div class = "box">
      <h2 class = "center">
        Jesus
      </h2>
      <p>
        Jesus' is not limited like this box.
      </p>
    </div>
        <p id="lop">
           His Love is Endless!
    </p>
        <video width="320" height="240" controls>
  <source src="https://cdn.glitch.global/31c9497c-99bd-42a0-bebd-78511a3bc7ea/Y2Mate.is%20-%20Jesus%20Loves%20Me%20by%20Listener%20Kids-owx3ao42kwI-720p-1649782328179.mp4?v=1649782348869" type="video/mp4">
</video>

    </p> 

<h2>External JavaScript</h2>

<p id="demo">?????????</p>

<button type="button" onclick="myFunction()">Click for the Truth</button>

<p>Click above 4 a surprise....</p>

<script src="myScript.js"></script>
  
  
  <div>
<a href="/aboutme">Click here to see about me.</a>
    </div>
  
  <body>
<html>
